@import "./header.css";
@import "./footer.css";
@import "./main.css";


.media-info-msg{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: salmon;
    opacity: 1;
}



@media screen and (max-width: 500px)and (min-width: 320px){
    .media-info-msg{
        display: none;
    }
}
